# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
*.iml
.idea/

# Sublime
*.sublime-project
*.sublime-workspace

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
Thumbs.db

.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/tmp/

Gemfile.lock
Gemfile.local
.rspec-local
.ruby-version
*.gem

tmp/
.rbnext/

gemfiles/*.lock
pgdata/*
!pgdata/.keep

node_modules/


# Ignore bundler config.
/.bundle

# Ignore all environment files.
/.env*

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore storage (uploaded files in development and any SQLite databases).
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

/public/assets
/public/assets-test
/app/assets/builds
!/app/assets/builds/.keep

# Ignore master key for decrypting credentials and more.
/config/master.key

# Vite Ruby
/public/vite*
node_modules
# Vite uses dotenv and suggests to ignore local-only env files. See
# https://vitejs.dev/guide/env-and-mode.html#env-files
*.local


/config/*.local.yml
/config/credentials/local.*

/config/credentials/*.key

.rspec-local

/config/credentials/production.key

/config/credentials/local.key
/upload*
